<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/botUntitled.png">
        <link rel="stylesheet" href="/css/styles.css">
        <body>
            <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/botUntitled.png">
            <p> this site was created by bran odonoghue. it uses data from weather apis.</p>
            </div>
            {{>footer}}
        </body>
    </head>
</html>